<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BarStyle - <%= @title %></title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>

			<div class="head">
				<div class="view3d">
					<%= link_to '', root_url, class: 'logo' %>
				</div>
			</div>

			<%= render 'app/menu' %>

		</header>
		<div class="content">
			<section class="sidebar">
				<%= render 'app/sidebar' %>
			</section>
			<section class="main">
				<div class="news">
					<%= yield %>
				</div>
			</section>
			<div class="zz"></div>
		</div>

		<footer>
			<div class="footer">

				<div class="metrika">
					<!-- Yandex.Metrika informer --><a href="http://metrika.yandex.ru/stat/?id=22531672&amp;from=informer" target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/22531672/3_0_301E13FF_301E13FF_1_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:22531672,lang:'ru'});return false}catch(e){}"/></a><!-- /Yandex.Metrika informer --><!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter22531672 = new Ya.Metrika({id:22531672, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/22531672" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
				</div>

				<div class="social-icons">
					<a href="http://vk.com" rel="nofollow"><i class="sc-vk"></i></a>
					<a href="http://twitter.com" rel="nofollow"><i class="sc-tw"></i></a>
					<a href="http://facebook.com" rel="nofollow"><i class="sc-fb"></i></a>
				</div>
			</div>
		</footer>

		<div class="woodframe"></div>
	</div>
</body>
</html>