<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BarStyle - <%= @title %></title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<div class="head">
			<!-- <div class="bglogo">
				<%= link_to(image_tag("bgpaper.jpg", :class => "logo", :alt => "На главную")) %>
			</div> -->
		</div>

		<div class="menu">
			<div class="menu-left"></div>
			<ul>
				<% @menu_sections.each do |section| %>
				<li><%= link_to section.name, section_path(section.permalink) %></li>
				<% if section != @menu_sections.last %>
					<li class="menu-divider"></li>
				<% end %>
				<% end %>
			</ul>
			<div class="menu-right"></div>
		</div>

		<div class="content">
			<div class="sidebar">

				<%= render 'shared/sidebar' %>

			</div>

			<div class="main">
				<div class="news">
					<div class="badge">
						<i><%= normalize(@title) %></i>
						<div class="badge-right"></div>
					</div>
					<div class="body">

						<%= yield %>

					</div>
				</div>

			</div>
			<div class="zz"></div>
		</div>

		<div class="footer">

		</div>

		<div class="woodframe"></div>
	</div>
</body>
</html>
