<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>BarStyle - <%= @title %></title>
	<%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<header>

			<div class="head">
				<div class="view3d">
					<%= link_to '', root_url, class: 'logo' %>
				</div>
			</div>

			<%= render 'app/menu' %>

		</header>
		<div class="content">
			<section class="sidebar">

				<%= render 'app/sidebar' %>

			</section>

			<section class="main">
				<div class="news">
					<div class="badge">
						<i><%= normalize(@title) %></i>
						<div class="badge-right"></div>
					</div>
					<div class="body">

						<%= yield %>

					</div>
				</div>

			</section>
			<div class="zz"></div>
		</div>

		<footer>
			<div class="footer">
				<div class="social-icons">
					<a href="http://vk.com" rel="nofollow"><i class="sc-vk"></i></a>
					<a href="http://twitter.com" rel="nofollow"><i class="sc-tw"></i></a>
					<a href="http://facebook.com" rel="nofollow"><i class="sc-fb"></i></a>
				</div>
			</div>
		</footer>

		<div class="woodframe"></div>
	</div>
</body>
</html>