<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<title>BarStyle</title>
	<%= stylesheet_link_tag "application", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<div class="head">
			<!-- <div class="bglogo">
				<%= link_to(image_tag("bgpaper.jpg", :class => "logo", :alt => "На главную")) %>
			</div> -->
		</div>

		<div class="menu">
			<div class="menu-left"></div>
			<ul>
				<% @menu_sections.each do |section| %>
				<li><%= link_to section.name, section_path(section.permalink) %></li>
				<% end %>
			</ul>
			<div class="menu-right"></div>
		</div>

		<div class="content">
			<div class="sidebar">

				<% @news.each do |article| %>
					<div class="news">
						<div class="badge">
							<i><%= article.created_at.to_formatted_s(:short).downcase %></i>
							<div class="badge-right"></div>
						</div>
						<h2><%= link_to article.title, page_path(article.section.permalink, article.permalink) %></h2>
						<%= link_to image_tag(article.featured_image), page_path(article.section.permalink, article.permalink) %>
						<p class="preview">
							<%= raw strip_tags article.text.slice(0, 200) %>...
							<%= link_to " »&nbsp;читать&nbsp;далее".html_safe, page_path(article.section.permalink, article.permalink), :class => "underlined" %>
						</p>
					</div>
				<% end %>

			</div>
			<div class="main">

				<div class="news">
					<div class="badge">
						<i><%= @body ? @body.title : @current_section %></i>
						<div class="badge-right"></div>
					</div>
				</div>

				<div class="body">
					<%= yield %>
				</div>

			</div>
			<div class="zz"></div>
		</div>

		<div class="footer">

		</div>

		<div class="woodframe"></div>
	</div>
</body>
</html>
